<!--footer-->
<footer>
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-3">
    <h5>ABOUT THE KYUSDA CHURCH</h5>
    <p></p>
    </div>
    <div class="col-sm-6 col-md-3">
    <h5>QUICK LINKS</h5>
    <ul class="footer-links">
      <li><a href="">Upcoming Event</a></li>
    <li class="dropdown"> 
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Departmentals<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
        <li><a href="./ALOAMO.html">AMO/ALO</a></li>
        <li><a href="./Treasury.html">Treasury</a></li>
        <li><a href="./Development.html">Development</a></li>
        <li><a href="./masterguide.html">Master Guide</a></li>
        </ul>
      </li>
      <li class="dropdown"> 
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          SERMONS<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-left" role="menu">
        <li><a href="./sermons.html">Week Of Prophecy</a></li>
        <li><a href="./familylife.html">Family Life</a></li>
        <li><a href="./health.html">Health</a></li>
        </ul>
        </li>
        <li><a href="./contact.html">CONTACT US & SIGN-UP</a></li>
        <li><a href="./login.html">LOGIN</a></li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3">
    <h5>OUR ADDRESS</h5>
    <p>KIRINYAGA UNIIVERSITY SEVENTH DAY ADVENTIST CHURCH<br>P.O BOX 143<br>
    KERUGOYA<br>
    <br>
    Phone: +254-713283743<br>
    Email: <a><span class="__cf_email__">
    kyusada@gmail.com</span></a></p>
    </div>
    <div class="col-sm-6 col-md-3">
    <h5>CONNECT</h5>
    <div class="social-icons">
    <a href="https://www.facebook.com/kirinyagasdachurch.kyusda"><img src="images/fb-icon.png" alt="social"></a>
    <a href="https://twitter.com/KirinyagaC">
    <img src="images/tw-icon.png" alt="social"></a> 
    <a href="https://www.linkedin.com/in/kirinyagasda-church-8863b9218/">
     <img src="images/in-icon.png" alt="social"></a>
     <a href="https://chat.whatsapp.com/B67OmBKpe11CS4UJrUnlkp">
      <img src="images/whatsappicon.jpg" alt="social" style="height: 30px;" width="40px"></a>
      </div>
    </div>
    </div>
    </div>
    <div class="copyright">
    <div class="container">
    <p class="text-center">Copyright © 2021 All rights reserved</p>
    </div>
    </div>
    </footer>
    <!--end of footer-->