
<!--Navbar-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="./index-slider-alt.html">
      <img src="images/kyusdalogo.jpeg" alt="church logo" class="img-responsive"></a> </div>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li class="active">
    <a href="./index-slider-alt.html" class="">HOME<span class=""></span></a>
    </li>
    <li><a href="./about.html">ABOUT</a></li>
    <li class="dropdown"> 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    DEPARTMENTALS<span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><a href="./ALOAMO.html">AMO/ALO</a></li>
      <li><a href="./Treasury.html">Treasury</a></li>
      <li><a href="./Development.html">Development</a></li>
      <li><a href="./masterguide.html">Master Guide</a></li>
      </ul>
    </li>
    <li class="dropdown"> 
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        SERMONS<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><a href="sermons.html">Week Of Prophecy</a></li>
      <li><a href="familylife.html">Family Life</a></li>
      <li><a href="health.html">Health</a></li>
      </ul>
      </li>
    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">NEWS & RESOURCE-CENTER<span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-left" role="menu">
    <li><a href="./image-gallery.html">KYUSDA Image Gallery</a></li>
    <li><a href="./video-gallery.html">KYUSDA Video Gallery</a></li>
    <li><a href="./choir.html">Choir</a></li>
    <li><a href="./blog.html">Devotion</a></li>
    <li><a href="./blog-single.html">Weekly Discussions</a></li>
    <li><a href="./events-programs.html">Events &amp; Programs</a></li>
    <li><a href="./communication.html">Upcoming Event</a></li>
    <li class="divider"></li>
    </ul>
    </li>
    <li><a href="./contact.html">CONTACT US</a></li>
    <li><a href="./login.html">LOGIN</a></li>
    </ul>
    </div>
    
    </div>
    </div>
    <!--End of Navbar-->